* {
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row {
  margin: 0;
  padding: 0;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

ul, li {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, a, p {
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

a.blue-btn {
  font-size: 14px;
  line-height: 18px;
  color: #43a9ff;
  font-family: "Montserrat";
  font-weight: 700;
  padding: 20px 40px;
  border: 1px solid #fff;
  border-radius: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a.blue-btn:hover {
  background-color: #43a9ff;
  color: #fff;
}

.nav {
  margin: 50px 0 255px;
}

.nav .nav-menu li {
  display: inline-block;
}

.nav .nav-menu li a {
  margin: 0 40px;
  font-size: 16px;
  color: #000000;
  font-family: "Montserrat";
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav .nav-menu li a:hover {
  border-bottom: 3px solid #000;
}

.header .main {
  min-height: 1000px;
  background-image: url(../img/main-bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header .main h1 {
  font-size: 48px;
  color: #000000;
  margin-bottom: 20px;
  font-weight: 600;
}

.header .main p {
  font-size: 18px;
  line-height: 18px;
  color: #d2d5d8;
  padding-bottom: 85px;
  font-weight: 600;
}

.about {
  padding: 100px 0;
}

.about .about-intro p {
  font-size: 18px;
  line-height: 18px;
  color: #d2d5d8;
  margin-bottom: 25px;
  font-weight: 600;
}

.about .about-intro h3 {
  font-size: 48px;
  color: #000;
  font-weight: 600;
  margin-bottom: 40px;
}

.about .about-cards {
  margin: 0 15px 30px;
}

.about .about-cards .about-card {
  max-width: 345px;
  padding: 40px;
}

.about .about-cards .about-card img {
  margin-bottom: 35px;
}

.about .about-cards .about-card h4 {
  font-size: 18px;
  line-height: 18px;
  color: #000;
  font-weight: 600;
  margin-bottom: 40px;
}

.about .about-cards .about-card p {
  font-size: 14px;
  line-height: 24px;
  color: #c0c5c9;
  font-weight: 600;
}

.view {
  background-color: #f7f8fb;
  padding: 0;
  margin: 0;
}

.view .view-text {
  max-width: 510px;
  margin: 0 auto;
  margin-top: 185px;
  margin-bottom: 185px;
  -o-object-fit: cover;
     object-fit: cover;
}

.view .view-text h3 {
  font-size: 48px;
  line-height: 18px;
  color: #000;
  font-weight: 600;
}

.view .view-text p {
  font-size: 16px;
  line-height: 36px;
  color: #c0c5c9;
  font-weight: 600;
}

.view .view-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-features {
  background: url(../img/Snowflake-1.png), url(../img/Snowflake-2.png);
  background-position: 45px -100px, 1230px 1140px;
  background-repeat: no-repeat;
  padding: 85px 380px;
}

.product-features .product-img {
  float: left;
  padding: 85px 0 45px;
}

.product-features .product-img img {
  max-width: 430px;
}

.product-features .product-text {
  padding: 310px 20px;
}

.product-features .product-text h3 {
  font-size: 48px;
  line-height: 18px;
  color: #43a9ff;
  font-weight: 600;
  padding-bottom: 40px;
}

.product-features .product-text p {
  font-size: 16px;
  line-height: 36px;
  color: #d2d5d8;
  font-weight: 600;
}

.awesome {
  padding-top: 50px;
  background-color: #f7f8fb;
  background-image: url(../img/Snowflake-3.png);
  background-position: 205px 60px;
  background-repeat: no-repeat;
}

.awesome .awesome-img {
  margin-left: 100px;
}

.awesome .awesome-text {
  padding: 0 50px;
}

.awesome .awesome-text h3 {
  margin: 160px 0 50px;
  font-size: 48px;
  letter-spacing: 0px;
  line-height: 18px;
  color: #fe3254;
  font-weight: 600;
}

.awesome .awesome-text p {
  font-size: 16px;
  line-height: 36px;
  color: #c0c5c9;
  font-weight: 600;
  margin-bottom: 60px;
}

.awesome .awesome-creator {
  padding: 0 50px;
  font-size: 18px;
  font-weight: 600;
}

.awesome .company-name {
  color: #c0c5c9;
}

.outro {
  padding-top: 150px;
}

.outro .outro-inner {
  margin-bottom: 150px;
}

.outro .outro-inner p {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 18px;
  color: #c0c5c9;
  font-weight: 600;
  margin-bottom: 30px;
}

.outro .outro-inner h3 {
  font-size: 48px;
  line-height: 18px;
  color: #000;
  font-weight: 600;
  margin-bottom: 80px;
}

.outro .outro-inner a {
  padding: 15px 30px;
  border-radius: 25px;
  background-color: transparent;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 18px;
  color: #43a9ff;
  font-family: "Montserrat";
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.outro .outro-inner a:hover {
  background-color: #43a9ff;
  color: #fff;
}

.outro img {
  width: 100%;
}

.outro .footer-nav {
  padding-top: 50px;
  margin: 0;
}

.outro .footer-nav .nav-menu a {
  color: #43a9ff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.outro .footer-nav .nav-menu a:hover {
  border-color: #43a9ff;
}
/*# sourceMappingURL=style.css.map */